body{
  background: #ECE5C7;
  margin: 0;
}

.map {
  margin-left: 10%;
  margin-top: 1%;
  border-radius: 20px;
  display: inline;
  margin-right: 0px;

}

.welcome-text{
  display: inline;
  position: absolute;
  top: 250px;
  left:820px;
  font-size: 40px;
  font-family: 'Berkshire Swash', cursive;
  width: 800px;
  color: #354259;
}

.menu{
  display: inline;
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  height: 50px;
  background-color: #121212;
  opacity: 0.98;
  animation:menu-fadenum 0.8s;
  position: fixed;
  opacity: 0.98;
}

.homepage{
  display: inline-block;
  position: absolute;
  z-index: 1;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 25px;
  color: #F5F5F5;
  left:10px;
  text-decoration: none;
  transition: 0.5s;
  padding-bottom: 10px;
}

.homepage:hover{
  color: #FFE3A9;
  opacity: 1;
  font-size: 21px;
  transition: 0.5s;
  text-shadow: 5px 5px 15px white;
}

.copy-right{
  display: block;
  padding: 20px,0;
  height: 80px;
  margin-top: 0px;
  margin-bottom: 0;
  background-color:#CDC2AE;
}
.right-text{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
  color: #ECE5C7;
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
}
