body{
  background: #FEF5ED;
  margin: 0;
}

.map {
  top: 100px;
  left: 280px;
  width: 800px;
  height: 500px;
  background-color: #E9D5CA;
  position: absolute;
  /* margin-top: 5px; */
  /* margin-left: 220px; */
  margin-bottom: 22px;
  border-color: #4D4C7D;
  display: block;
}

.menu{
  display: inline;
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  height: 50px;
  background-color: #4D4C7D;
  opacity: 0.98;
  animation:menu-fadenum 0.8s;
  position: fixed;
  opacity: 0.98;
}

.homepage{
  display: inline-block;
  position: absolute;
  z-index: 1;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 25px;
  color: #E9D5CA;
  left:10px;
  text-decoration: none;
  transition: 0.5s;
  padding-bottom: 10px;
}

.homepage:hover{
  color: #FFE3A9;
  opacity: 1;
  font-size: 21px;
  transition: 0.5s;
  text-shadow: 5px 5px 15px white;
}

.copy-right{
  padding: 20px,0;
  height: 80px;
  margin-top: 0px;
  margin-bottom: 0;
  background-color:#ECE5C7;
}
.right-text{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
  color: #CABFAB;
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
}



button{
  width: 8%;
  padding: 12px;
  margin-top: 650px;
  margin-left: 180px;
  margin-right: 10px;
  margin: bottom: 5px;
  /* margin: 50px 255px; */
  display: inline-block;
  border-radius: 4px;
  background-color: #9A9B94;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 1;
}

button:hover{
  background-color: #41444B;
}

button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.check{
  font-family: 'Marcellus SC', serif;
  color: #73777B;
  font-weight: bolder;
  opacity: 1;
  display: inline;
  radius:25px;
  left: 5px;
  top:20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.checkboxx{
  /* border: 4px; */
  padding: 12px;
  margin: 20px;
  margin-left : 0px;
  margin-right : 0px;
  height: 14px;
  width: 14px;
  border-radius: 4px;
  border: 3px solid #4d602a;
  checked: false;
}

.guide{
  display: inline;
  left: 5px;
  top:20px;
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Marcellus SC', serif;
  color: #73777B;
  font-weight: bolder;
}

.score-div{
  display: inline;
  left: 5px;
  top:20px;
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Marcellus SC', serif;
  color: #73777B;
}

.score{
  font-family: serif;
  color: #73777B;
  font-weight: bolder;
}
